<!-- category_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'billing' %}">Billingsystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 350px;">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adduser' %}">Add User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addcustomer' %}">Add Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addcategory' %}">Add Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addproduct' %}">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'billing' %}">Billing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'customers' %}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category_list' %}">Category</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1>User List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="{% url 'user_delete' user.name  %}">Delete</a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
